$light-color: #f1e7e7
$light-red: #e09b9b
$darker-color: #b98f8f
$dark-color: #b18989
$red-color: #c95f5f

*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    display: flex
    flex-direction: column
    justify-content: center
    margin: 5% 10px 5% 10px !important
    align-items: center
    background-color: $light-color
    font-family: 'Open Sans', sans-serif

    .hideDateInput
        display: none

.wrapper
    text-align: center
    background-color: whitesmoke
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)
    border-radius: 5px

.header
    padding: 40px 30px 50px 30px
    border-radius: 5px 5px 0 0
    background: linear-gradient(300deg, rgba(201,95,95,1) 0%, rgba(224,155,155,1) 100%)

    h2
        color: whitesmoke
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8)
        letter-spacing: 3px
        padding: 10px 15px
        font-size: 28px
        text-transform: uppercase

    .toDoInput, .dateInput
        min-width: 230px
        margin: 10px
        width: 70%
        height: 40px
        font-size: 18px
        border: 2px solid rgba(201,95,95,0.6)
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4)
        outline: none
        border-radius: 10px
        margin-right: 10px
        padding: 10px
        background-color: $light-color

    .dateInput
        max-width: 250px
        margin: auto

    .addBtn
        padding: 10px 15px
        margin: 10px
        border-radius: 10px
        border: 1px solid $dark-color
        font-weight: bold
        color: #473e3e
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4)
        background-color: $light-color
        text-transform: uppercase
        cursor: pointer
        transition: background-color 0.3s, color 0.3s

    .addBtn:hover
        background-color: $dark-color
        color: $light-color

.listContainer
    padding: 20px
    margin: 0 0 15px 0
    min-height: 100%
    transition: max-height 0.2s

    .optionsWrapper
        display: flex
        justify-content: space-evenly
        margin-bottom: 20px

        .options
            display: flex
            flex-direction: column
            padding: 10px

            h4
                padding: 0 0 10px 0

            button
                padding: 8px
                margin: 5px
                font-weight: bold
                border: none
                border-radius: 5px
                text-transform: uppercase
                cursor: pointer
                background-color: #e7dede
                color: $dark-color
                transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s

            button:hover
                background-color: $dark-color
                color: #e7dede
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4)
                transform: translate(-2px, -5%)

            .btnActive
                background-color: $dark-color
                color: #e7dede
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4)
                transform: translate(-2px, -5%)

            button:active
                transform: translateY(2px)
                box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.4)

    h2
        text-transform: uppercase
        letter-spacing: 2px

    p
        letter-spacing: 1px
        padding: 20px

    ul
        margin: 0
        padding: 0

    li
        display: flex
        flex-direction: column
        list-style: none
        padding: 10px 15px
        margin: 20px 0px
        border-radius: 5px
        background-color: $light-color
        // background-color: #e6f0dc
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4)
        transition: background-color 0.3s

        input
            border: none
            background: none
            outline: none

    #taskSample
        display: none

    .taskDone
        background-color: #e6f0dc

    .taskFinishedFilter
        display: none

    .date
        display: flex
        flex-direction: row
        margin: 5px 0
        width: 100%
        border-radius: 5px
        background-color: #e6d6d6
        transition: background-color 0.4s
        // background-color: #effae3

        span
            font-size: 12px
            color: #7a7a7a
            padding: 5px 10px

        .hideDeadline
            display: none

        .dateInput
            font-size: 16px
            padding: 5px 0 5px 5px

        .exceeded
            color: #e21717
        .hourLeft
            color: #e08926
        .taskDoneDate
            color: #2e923f

    .dateTaskDone
        background-color: #effae3

    .taskWrapper
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        text-align: left

        .task
            margin: 10px 2px
            padding: 7px
            text-align: center
            font-size: 20px
            letter-spacing: 1px
            text-shadow: 2px 2px 2px rgba(143, 143, 143, 0.6)
            overflow-wrap: break-word
            background: none
            border: none
            border-radius: 10px
            transition: background-color 0.3s

        .task:focus
            outline: none

        .editActive
            background-color: #fcfafa

        .tools
            display: flex
            justify-content: space-between
            // display: none

            button
                padding: 10px
                margin: 0 5px
                // max-width: 52px
                border: none
                border-radius: 5px
                text-transform: uppercase
                cursor: pointer
                background: none
                transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s

            button:hover
                background-color: #e7dede
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4)
                transform: translate(-2px, -5%)

            .complete
                color: royalblue
            .edit
                color: $dark-color
            .remove
                color: $red-color

            .btnBackground:hover
                background-color: #effae3

            .btnHide
                display: none
