* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 10px 5% 10px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1e7e7;
  font-family: 'Open Sans', sans-serif;
}

body .hideDateInput {
  display: none;
}

.wrapper {
  text-align: center;
  background-color: whitesmoke;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.wrapper .taskSampleContainer {
  display: none;
}

.header {
  padding: 40px 30px 50px 30px;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(300deg, #c95f5f 0%, #e09b9b 100%);
}

.header h2 {
  color: whitesmoke;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  letter-spacing: 3px;
  padding: 10px 15px;
  font-size: 28px;
  text-transform: uppercase;
}

.header .toDoInput, .header .dateInput {
  min-width: 230px;
  margin: 10px;
  width: 70%;
  height: 40px;
  font-size: 18px;
  border: 2px solid rgba(201, 95, 95, 0.6);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  outline: none;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: #f1e7e7;
}

.header .dateInput {
  max-width: 250px;
  margin: auto;
}

.header .addBtn {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #b18989;
  font-weight: bold;
  color: #473e3e;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  background-color: #f1e7e7;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.header .addBtn:hover {
  background-color: #b18989;
  color: #f1e7e7;
}

.listContainer {
  padding: 20px;
  margin: 0 0 15px 0;
  min-height: 100%;
  -webkit-transition: max-height 0.2s;
  transition: max-height 0.2s;
}

.listContainer .optionsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
}

.listContainer .optionsWrapper .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.listContainer .optionsWrapper .options h4 {
  padding: 0 0 10px 0;
}

.listContainer .optionsWrapper .options button {
  padding: 8px;
  margin: 5px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #e7dede;
  color: #b18989;
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}

.listContainer .optionsWrapper .options button:hover {
  background-color: #b18989;
  color: #e7dede;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-2px, -5%);
          transform: translate(-2px, -5%);
}

.listContainer .optionsWrapper .options .btnActive {
  background-color: #b18989;
  color: #e7dede;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-2px, -5%);
          transform: translate(-2px, -5%);
}

.listContainer .optionsWrapper .options button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.4);
}

.listContainer h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.listContainer p {
  letter-spacing: 1px;
  padding: 20px;
}

.listContainer ul {
  margin: 0;
  padding: 0;
}

.listContainer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 10px 15px;
  margin: 20px 0px;
  border-radius: 5px;
  background-color: #f1e7e7;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.listContainer li input {
  border: none;
  background: none;
  outline: none;
}

.listContainer #taskSample {
  display: none;
}

.listContainer .taskDone {
  background-color: #e6f0dc;
}

.listContainer .taskFinishedFilter {
  display: none;
}

.listContainer .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  background-color: #e6d6d6;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.listContainer .date span {
  font-size: 12px;
  color: #7a7a7a;
  padding: 5px 10px;
}

.listContainer .date .hideDeadline {
  display: none;
}

.listContainer .date .dateInput {
  font-size: 16px;
  padding: 5px 0 5px 5px;
}

.listContainer .date .exceeded {
  color: #e21717;
}

.listContainer .date .hourLeft {
  color: #e08926;
}

.listContainer .date .taskDoneDate {
  color: #2e923f;
}

.listContainer .dateTaskDone {
  background-color: #effae3;
}

.listContainer .taskWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.listContainer .taskWrapper .task {
  margin: 10px 2px;
  padding: 7px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgba(143, 143, 143, 0.6);
  overflow-wrap: break-word;
  background: none;
  border: none;
  border-radius: 10px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.listContainer .taskWrapper .task:focus {
  outline: none;
}

.listContainer .taskWrapper .editActive {
  background-color: #fcfafa;
}

.listContainer .taskWrapper .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listContainer .taskWrapper .tools button {
  padding: 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}

.listContainer .taskWrapper .tools button:hover {
  background-color: #e7dede;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-2px, -5%);
          transform: translate(-2px, -5%);
}

.listContainer .taskWrapper .tools .complete {
  color: royalblue;
}

.listContainer .taskWrapper .tools .edit {
  color: #b18989;
}

.listContainer .taskWrapper .tools .remove {
  color: #c95f5f;
}

.listContainer .taskWrapper .tools .btnBackground:hover {
  background-color: #effae3;
}

.listContainer .taskWrapper .tools .btnHide {
  display: none;
}
/*# sourceMappingURL=style.css.map */